<div class="maincontainer">
    <!-- <div class="subcontainerone">
        <div class="bodyone">
            <div class="photoone">
                <img src="svg/jayaseelan.svg" alt="">
            </div>
        </div>
        <div class="bodytwo">
            <img src="svg/jayaseelan_text.svg" alt="">
        </div>
    </div>

    <div class="subcontainertwo">
        <div class="bodythree">
            <img src="svg/raveendra_text.svg" alt="">
        </div>
        <div class="bodyfour">
            <div class="phototwo">
                <img src="svg/raveendra.svg" alt="">
            </div>
        </div>
    </div> -->
    <div class="subcontainerone">
        <img src="svg/chef_new_txt.svg" alt="">
    </div>

    <div class="subcontainertwo">
        <img src="svg/gm_new_txt.svg" alt="">
    </div>
</div>